<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>



<body>
  <!--Card-->
  <div class="card">

    <!--Card content-->
    <div class="card-body">

      <!-- Form -->
      <form name="">
        <!-- Heading -->
        <h3 class="dark-grey-text text-center">
          <strong>여긴 가야되</strong>
        </h3>
        <hr>

        <div class="md-form">
          <i class="fas fa-user prefix grey-text"></i>
          <input type="text" id="name" class="form-control">
          <label for="name">상호명</label>
        </div>
        <div class="md-form">
          <i class="fas fa-envelope prefix grey-text"></i>
          <input type="text" id="adress" class="form-control">
          <label for="adress">주소</label>
        </div>

        <div class="md-form">
          <i class="fas fa-pencil-alt prefix grey-text"></i>
          <textarea type="text" id="memo" class="md-textarea"></textarea>
          <label for="memo">평가 그리고 남길말..</label>
        </div>

        <div class="text">
          <fieldset class="form-select">
            <input type="radio" name="food" value="korea_food" class="form-check-input" id="radiobox1">
            <label for="radiobox1" class="form-check-label dark-grey-text">한식</label>
            
            <input type="radio" name="food" value="china_food" class="form-check-input" id="radiobox2">
            <label for="radiobox2" class="form-check-label dark-grey-text">중식</label>
            
            <input type="radio" name="food" value="japan_food" class="form-check-input" id="radiobox3">
            <label for="radiobox3" class="form-check-label dark-grey-text">일식</label>
            
            <input type="radio" name="food" value="flour_food" class="form-check-input" id="radiobox4">
            <label for="radiobox4" class="form-check-label dark-grey-text">분식</label>
          
            <input type="radio" name="food" value="world_food" class="form-check-input" id="radiobox5">
            <label for="radiobox5" class="form-check-label dark-grey-text">양식/세계음식</label>
          </fieldset>
          <hr>
          <button class="btn btn-indigo">인정!!</button>
        </div>

      </form>
      <!-- Form -->

    </div>

  </div>
  <!--/.Card-->


</body>
</html>