{% extends "index.html" %}
{% block content %}

<style>
   .revise {
      display: none
   }

   .table_box {
    overflow: auto;
   }

   #dataList th {
    position: sticky;
    top: 0px;
    }
</style>

<div class="MenuBOX">
<!--   <div>-->
<!--      <select>-->
<!--         <option>상호명</option>-->
<!--         <option>음식류</option>-->
<!--         <option>방문여부</option>-->
<!--      </select>-->
<!--   </div>-->

   <div class="storeSearch">
      <label for="storeName_input">상호명</label>
      <input id="storeName_input" name="storeName_input">
      <button type="button" onclick="listing()">검색</button>
      <button type="button" onclick="clean()">clean</button>
   </div>
<!--   <div class="categorySearch">-->
<!--      <label for="categorySearch">카테고리</label>-->
<!--      <select name=categorySearch id="categorySearch">-->
<!--         <option value="rice">밥/국/찌개</option>-->
<!--         <option value="meat">고기/육류</option>-->
<!--         <option value="noodle">면류</option>-->
<!--         <option value="seaFood">해산물</option>-->
<!--         <option value="worldFood">세계음식</option>-->
<!--         <option value="bread">빵</option>-->
<!--         <option value="flourbasedFood">분식</option>-->
<!--         <option value="cafeBar">카페/음료/바</option>-->
<!--      </select>-->
<!--      <button type="button" onclick="listing()">검색</button>-->
<!--   </div>-->
<!--   <div>-->
<!--      <fildset class="visitSearch">-->
<!--         <input type="radio" name="visitSearch" value="visit_no" id="visit_no" checked>-->
<!--         <label for="visit_no">도전!</label>-->
<!--         <input type="radio" name="visitSearch" value="visit_ok" id="visit_ok">-->
<!--         <label for="visit_ok">검완!</label>-->
<!--      </fildset>-->
<!--      <button type="button" onclick="listing()">검색</button>-->
<!--   </div>-->

   <div class="commandBtn">
      <button type="button" onclick="showPopup()">데이터 수정</button>
      <button type="button" onclick="del()">데이터 삭제</button>
   </div>
</div>

<div class="table_box">
   <table border=1 id="dataList">
      <thead>
         <tr>
            <th></th>
            <th>NO</th>
            <th>상호명</th>
            <th>근처역</th>
            <th>카테고리</th>
            <th>방문유무</th>
            <th>도로명주소</th>
            <th>메모</th>
         </tr>
      </thead>
      <tbody id="table_body">
      </tbody>
   </table>
</div>

<div class="revise">
   <section class="revise-form">
      <form>
         <div>
            <label for ="no_input">순번</label>
            <input type = "text" name="no_input" id="no_input" disabled>
         </div>
         <div>
            <label for ="name_input">상호명</label>
            <input type = "text" name="name_input" id="name_input" required>
         </div>
         <div>
            <label for ="name_input">도로명주소</label>
            <input type = "text" name="address_input" id="address_input" placeholder="도로명주소입력" required>
         </div>
         <div>
            <label for="station_input">근처역</label>
            <input list="stationList" id="station_input" name="station_input" required/>
         </div>
         <div>
            <label for ="memo_input">MEMO</label>
            <input type = "text" name="memo_input" id="memo_input">
         </div>
         <div>
            <select name=food_kind id="food_kind">
               <option value="rice">밥/국/찌개</option>
               <option value="meat">고기/육류</option>
               <option value="noodle">면류</option>
               <option value="seaFood">해산물</option>
               <option value="worldFood">세계음식</option>
               <option value="bread">빵</option>
               <option value="flourbasedFood">분식</option>
               <option value="cafeBar">카페/음료/바</option>
            </select>
         </div>
         <div>
            <fildset class="visit">
               <input type="radio" name="visit_record" value="visit_no">
               <label for="visit_no">도전!</label>
               <input type="radio" name="visit_record" value="visit_ok">
               <label for="visit_ok">검완!</label>
            </fildset>
         </div>

         <div class="btn-area">
            <button type="submit" onclick="revise_btn()">수정하기</button>
            <button type="submit" onclick="cancel_btn()">돌아가기</button>
         </div>
      </form>
   </section>
</div>


<script>
   $(document).ready(function () {
      listing();
   });

   function clean() {
      $('#storeName_input').val('')
   }

   function listing() {
      storeName = $('#storeName_input').val()
      $.ajax({
         type: "get",
         url: `/reviseMainPage?storeName_give=${storeName}`,
         data: {},
         success: function (response) {
            if (response['result'] == 'success') {
               rows = response['store_info']

               $('#table_body').empty()

               for (i = (rows.length-1) ; i >= 0; i--) {
                  server_no = rows[i]['no']
                  server_name = rows[i]['name']
                  server_station = rows[i]['station']
                  server_food_kind = rows[i]['food_kind']
                  server_visit = rows[i]['visit']
                  server_address = rows[i]['address']
                  server_memo = rows[i]['memo']

                  table_plus = "<tr>\
                  <td><input type='radio' name='storeID' value='" + server_name + "' id='no'> </td>\
                  <td>"+ server_no + "</td>\
                  <td>"+ server_name + "</td>\
                  <td>"+ server_station + "</td>\
                  <td>"+ server_food_kind + "</td>\
                  <td>"+ server_visit + "</td>\
                  <td>"+ server_address + "</td>\
                  <td>"+ server_memo + "</td>\
                  </tr>"
                  $('#table_body').append(table_plus)
               }
            }
            else {

               alert('검색하신 상호명은 없습니다.');
            }
         }
      })
   }


   function showPopup() {
      let  selectedStore= $('input[name="storeID"]:checked').val();
      if(selectedStore != undefined ) {
         $('.table_box').hide()
         $('.MenuBOX').hide()
         $('.revise').show()

         $.ajax({
            type: "get",
            url: `/revise_changeboxListing?store_give=${selectedStore}`,
            data: {},
            success: function (response) {
               if (response['result'] == 'success') {
                  rows = response['store_info']
                  for (i = (rows.length-1) ; i >= 0; i--) {
                     server_no = rows[i]['no']
                     server_name = rows[i]['name']
                     server_address = rows[i]['address']
                     server_station = rows[i]['station']
                     server_memo = rows[i]['memo']
                     server_food_kind = rows[i]['food_kind']
                     server_visit = rows[i]['visit']

                     document.getElementById('no_input').value = server_no
                     document.getElementById('name_input').value = server_name
                     document.getElementById('address_input').value = server_address
                     document.getElementById('station_input').value = server_station
                     document.getElementById('memo_input').value = server_memo
                     document.getElementById('food_kind').value = server_food_kind
                     $("input:radio[name='visit_record']:input[value="+server_visit+"]").prop('checked', true);

                  }
               }
            }
         })
      }
   }

   function revise_btn() {
      if(confirm("데이터 수정을 실행할까요?") ==true ) {

         no = $('#no_input').val()
         name = $('#name_input').val()
         address = $('#address_input').val()
         station = $('#station_input').val()
         memo = $('#memo_input').val()
         food_kind = $('#food_kind').val()

         if (name == ''){
            alert('상호명은??')
            $('#name_input').focus()
            return
         } else if (address == ''){
            alert('도로명주소 뭐야?')
            $('#address_input').focus()
            return
         }

         $.ajax({
            type: "POST",
            url: "/DataUpdate",
            data: {no_give:no, name_give:name, address_give:address, station_give:station, food_kind_give:food_kind, visit_give:$('input[name="visit_record"]:checked').val() , memo_give:memo},
            success: function(response){
               if(response["result"]=="success" ) {
                  alert('데이터 수정완료!') ;
               } else {
                  alert('다시 확인해 주세요.')
               }
            }
         })
      }


      else {

      }
   }


   function cancel() {
      history.back()
   }

</script>

{% endblock %}