</!DOCTYPE html>
<html>
<head>
	<meat charset="utf-8">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script type ="text/javascript" src="js/script.js"></script>
		<title></title>
	</head>

	<body>
		<div class="">
			<table class="list_table">
				<thead>
					<tr>
						<td>NO</td>
						<td>상호명</td>
						<td>도로명주소</td>
						<td>메모</td>
						<td>visit 이력</td>
					</tr>
				</thead>
				<tbody id="list_box">
				</tbody>
			</table>
		</div>
	</body>
	</html>