<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF8">
	<title>Enrollment page</title>
</head>
<body>
	<section class="enrollment-form">
		<h1>여긴가야되</h1>
		<form action="">
			<div class = "int-area">
				<input type = "text" name="name_input" id="name_input" autocomplete="off" required>
				<labe for ="name_input">Store Name</labe>
			</div>
			<div class = "int-area">
				<input type = "text" name="address_input" id="address_input" autocomplete="off" required>
				<labe for ="name_input">Address</labe>
			</div>
			<div class="btn-area">
				<button type="submit" onclick="request_btn()">여기인정!</button>
			</div>
		</form>
	</section>
</body>
</html>