{% extends "index.html" %}
{% block content %}
<div class="enrollment">
	<section class="enrollment-form">
		<form>
			<div class = "int-area">
				<input type = "text" name="name_input" id="name_input" autocomplete="off" required>
				<labe for ="name_input">Store Name</labe>
			</div>
			<div class = "int-area">
				<input type = "text" name="address_input" id="address_input" autocomplete="off" required>
				<labe for ="name_input">Address</labe>
			</div>
			<div class = "int-area">
				<input type = "text" name="memo_input" id="memo_input" autocomplete="off" required>
				<labe for ="memo_input">memo</labe>
			</div>
			<fildset class="visit">
				<input type="radio" name="visit_record" value="visit_no" id="visit_no" checked>
				<label for="visit_no">도전!</label>
				<input type="radio" name="visit_record" value="visit_ok" id="visit_ok">
				<label for="visit_ok">검완!</label>
			</fildset>

			<div class="btn-area">
				<button type="submit" onclick="request_btn()">여기인정!</button>
			</div>
		</form>
	</section>
</div>

<script>
	function request_btn() {
		name = $('#name_input').val()
		address = $('#address_input').val()
		memo = $('#memo_input').val()

		if (name == "") {
			alert('여기상호 뭐야??') ;
			$('#name_input').focus()
			return
		}

		if (address == "") {
			alert('도로명 주소는??') ;
			$('#address_input').focus()
			return
		}

		$.ajax({
			type: "POST",
			url: "/mylist", 
			data: { name_give:name, address_give:address, visit_give : $('input[name="visit_record"]:checked').val() , memo_give:memo },
			success: function(response){
				if(response['result']=="success" ) {
					alert("등록완료!") ;
				} else {
					alert('서버 오류!')
					window.location.reload();
				}
			}
		})

	}
</script>
{% endblock %}
