{% extends "index.html" %}
{% block content %}
<div class="enrollment">
	<section class="enrollment-form">
		<form>
			<div class = "int-area">
				<input type = "text" name="name_input" id="name_input" autocomplete="off" required>
				<label for ="name_input">상호명</label>
			</div>
			<div class = "int-area">
				<input type = "text" name="address_input" id="address_input" autocomplete="off" placeholder="도로명주소입력" required>
				<label for ="name_input">도로명주소</label>
			</div>
			<div class = "int-area">
				<input list="stationList" id="station_input" name="station_input" required />
				<label for="station_input">근처역</label>
			</div>
			<div class = "int-area">
				<input type = "text" name="memo_input" id="memo_input" autocomplete="off">
				<label for ="memo_input">MEMO</label>
			</div>
			<div>
				<select name=food_kind id="food_kind">
					<option value="rice">밥/국/찌개</option>
					<option value="meat">고기/육류</option>
					<option value="noodle">면류</option>
					<option value="seaFood">해산물</option>
					<option value="worldFood">세계음식</option>
					<option value="bread">빵</option>
					<option value="flourbasedFood">분식</option>
					<option value="cafeBar">카페/음료/바</option>
				</select>
			</div>
			<div>
				<fildset class="visit">
					<input type="radio" name="visit_record" value="visit_no" id="visit_no" checked>
					<label for="visit_no">도전!</label>
					<input type="radio" name="visit_record" value="visit_ok" id="visit_ok">
					<label for="visit_ok">검완!</label>
				</fildset>
			</div>

			<div class="btn-area">			
				<button type="submit" onclick="request_btn()">여기인정!</button>
			</div>
		</form>
	</section>
</div>

<script>
	function request_btn() {
		name = $('#name_input').val()
		address = $('#address_input').val()
		station = $('#station_input').val()
		memo = $('#memo_input').val()
		food_kind = $('#food_kind').val()

		if (name == ''){
			alert('상호명은??')
			$('#name_input').focus()
			return
		} else if (address == ''){
			alert('도로명주소 뭐야?')
			$('#address_input').focus()
			return
		}
		$.ajax({
			type: "POST",
			url: "/mylist", 
			data: {name_give:name, address_give:address, station_give:station, food_kind_give:food_kind, visit_give:$('input[name="visit_record"]:checked').val() , memo_give:memo},
			success: function(response){
				if(response["stationInput_result"]=="success" ) {
					alert('ㅊㅋㅊㅋ~ 등록완료!') ;
				} else {
					alert('등록실패ㅠ 다시확인해주세요')
					
				}
			}
		})

	}	

</script>
<!-- <script src="{{url_for('static',filename='js/script.js')}}"></script> -->
{% endblock %}