<!DOCTYPE html>
<html>
<head>
	<title>여긴가야되</title>
	<link rel= "stylesheet" type="text/css" href= "{{ url_for('static', filename='css/main.css') }}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script type ="text/javascript" href="{{ url_for('static', filename='js/script.js') }}"></script>
	</head>
	<body>
		<header>
			<div class="container">
				<h1 class="logo">Must Go!</h1>
				<strong><nav>
					<ul class="menu">
						<li><a href="{{ url_for('MapView') }}">MAP</a></li>
						<li><a href="{{ url_for('enrollment') }}">등록하기</a></li>
						<li><a href="{{ url_for('search') }}">조회하기</a></li>
						<li><a href="{{ url_for('admin') }}">데이터관리</a></li>
					</ul>
				</nav></strong>
			</div>	
		</header>
		<div class="contents">
			{% block content %}
			{% endblock %}
		</div>
	</body>
	</html>