{% extends "index.html" %}
{% block content %}
<style>
	#food_kind{
		background-color: white;
		border: 1px solid purple;
		border-radius: 10px;
		display: inline-block;
		font: inherit;
		line-height: 1.5em;
		padding: 0.5em 3.5em 0.5em 1em;

		margin: 0;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		-webkit-appearance: none;
		-moz-appearance: none;


		background-image:
		linear-gradient(45deg, transparent 50%, gray 50%),
		linear-gradient(135deg, gray 50%, transparent 50%),
		radial-gradient(#ddd 70%, transparent 72%);
		background-position:
		calc(100% - 20px) calc(1em + 2px),
		calc(100% - 15px) calc(1em + 2px),
		calc(100% - .5em) .5em;
		background-size:
		5px 5px,
		5px 5px,
		1.5em 1.5em;
		background-repeat: no-repeat;
	}

	#view_box{
		display : grid;
		grid-template-columns: 80% 20%
	}
</style>

<div class="stationSearch_box">
	<label for="search">역이름</label>
	<input name="search" id="station_name_input" type="text">
	<button type="button" onclick="find_station()" >검색</button>
</div>
<!-- <div class="searchFilter_box">
	<div>
		<label for ="food_kind>">음식종류 </label>
		<select id="food_kind">
			<option value="korea_food">한식</option>
			<option value="china_food">중식</option>
			<option value="japan_food">일식</option>
			<option value="snack_food">분식</option>
			<option value="world_food">양식/세계음식</option>
			<option value="cafe_food">카페/브런치</option>
		</select>
	</div>
	<div>
		<fildset class="visit">
			<legend>방문여부</legend>
			<input type="radio" name="visit_record" value="visit_no" id="visit_no">
			<label for="visit_no">도전!</label>
			<input type="radio" name="visit_record" value="visit_ok" id="visit_ok">
			<label for="visit_ok">검완!</label>
		</fildset>
	</div>
</div> -->

<div id="view_box">
	<div id="map" style="width:70%;height:580px;"></div>
	<div id ="list_box">
		<div class = "nameinput">
			<labe>상호명</labe>
			<div id="name_input">
				<table>
				</table>
			</div>
		</div>
		<div class = "addressinput">
			<labe for ="address_input">주소</labe>
			<input type = "text" name="address_input" id="address_input">
		</div>
		<div class = "memoinput">
			<labe for ="memo_input">메모</labe>
			<input type = "text" name="memo_input" id="memo_input">
		</div>
		<div class = "blog">
		</div>
	</div>
</div>

<!--  -->
<script>
	// food = $('#food_kind').val()
	// visit = $('input[name="visit_record"]:checked').val()

	function find_station(){
		station = $('#station_name_input').val()
		$.ajax({
			type: "get",
			url: `/mylist?station_give=${station}`,  
			data: {},
			success: function(response){
				if (response["result"]=="success") {
					alert("검색완료!");
					rows = response['store_info']
					console.log(rows)					
					for (i=0; i<rows.length; i++) {
						server_name = rows[i]['name']
						server_memo = rows[i]['memo']
						server_visit = rows[i]['visit']
						server_food_kind = rows[i]['food_kind']
						server_x_code = rows[i]['x_code']
						server_y_code = rows[i]['y_code']
						server_storeLinkTitle = rows[i]['storeLinkTitle']
						server_storeLinkHref = rows[i]['storeLinkHref']

						displayMarker()
					}
				}
				else {
					alert('서버 오류!')
					window.location.reload();
				}
			}	
		})
	}
</script>


<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=932f62c2719eabbf4e13cd00cd133311&libraries=services"></script>
<script>
	var infowindow = new kakao.maps.InfoWindow({zIndex:1});
	var mapContainer = document.getElementById('map'),
	mapOption = {
		center: new kakao.maps.LatLng(37.566826, 126.9786567),
		level: 7
	};  
	var map = new kakao.maps.Map(mapContainer, mapOption); 

	function displayMarker() {
		var storeName = server_name
		var blogTitle = server_storeLinkTitle
		var blogLink = server_storeLinkHref
		var marker = new kakao.maps.Marker({
			map: map,
			position: new kakao.maps.LatLng(server_y_code, server_x_code) 
		});

		kakao.maps.event.addListener(marker, 'click', function() {
			infowindow.setContent('<div style="padding:5px;font-size:12px;">' + storeName + '</div>');
			infowindow.open(map, marker);

			for (i=0; i<blogTitle.length; i++) {
				for (i=0; i<blogLink.length; i++) {
					table_plus = "<tr>\
					<td><a href='" + blogLink[i] + "'>"+ blogTitle[i] + "</a></td>\
					</tr>"

					$('#name_input').append(table_plus)
				}
			}

		});
	}
</script>


{% endblock %}