<input type="button" id="target" value="button" />

<script>
	region = ['seoul', 'busan', 'ulsan', 'incheon']
	
	for(i=0; i<region.length; i++) {

		var t = document.getElementById('target');
		t.addEventListener('click', function(){
			console.log(region[i])
		});
	}
	

	list = [10,20,30,40,50]
	ee = list.length
	console.log(ee)
	a = 0 ;
	while(a < ee) {
		console.log(list.pop())
		a++;	
	}
	// console.log(a.pop())
	// console.log(a.pop())
	// console.log(a.pop())
	// console.log(a.pop())

</script>